[submodule "neuralice"]
	path = neuralice
	url = https://github.com/delaneymosier/neural-ice-copy.git
[submodule "raissi-2019"]
	path = raissi-2019
	url = https://github.com/maziarraissi/PINNs.git
[submodule "neuralpde/torch-interpol"]
	path = torch-interpol
	url = https://github.com/balbasty/torch-interpol.git
